

.song {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 8px;
    margin-bottom: 10px;
    width: 50%;
}

.song-rank {
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
}

.song-title {
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
    align-items: center;
}

.song-artist {
    font-size: 14px;
    color: #000000;
}
